@model IEnumerable<Todo>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label" style="font-size:1.5em;">Category</label>
                <select name="filter" class="form-select"
                asp-items="@(new SelectList(ViewBag.Categories,"categoryId","categoryName",ViewBag.Filters.categoryID))">
                <option value="all">All</option> 
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" style="font-size:1.5em;">Due Date</label>
                <select name="filter" class="form-select"
                asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.dueDate))">
                <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" style="font-size:1.5em;">Status</label>
                <select name="filter" class="form-select"
                asp-items="@(new SelectList(ViewBag.Statuses, "statusId", "statusName", ViewBag.Filters.statusID))">
                <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" style="font-size:1.5em;">Sort By</label>
                <select name="sort" class="form-select">
                    @foreach (var item in new[] {
                        new { Value = "date_asc", Text = "Due Date (Ascending) [DEFAULT]" },
                        new { Value = "date_desc", Text = "Due Date (Descending)" },
                        new { Value = "name_asc", Text = "Name (A-Z)" },
                        new { Value = "name_desc", Text = "Name (Z-A)" }
                    })
                    {
                        if (ViewBag.Sort == item.Value)
                        {
                            <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-info">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-warning">Clear</a>
        </form>
    </div>
    <div class="col-md-8">
        <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <table class="table table-bordered table-striped mt-2 rounded-3 overflow-hidden"> 
                <thead> 
                    <tr>
                        <th class="fw-bold" style="font-size:2em;">Name</th>
                        <th class="fw-bold" style="font-size:2em;">Description</th>
                        <th class="fw-bold" style="font-size:2em;">Category</th>
                        <th class="fw-bold" style="font-size:2em; min-width: 180px;">Due Date</th>
                        <th class="fw-bold" style="font-size:2em;">Status</th>
                        <th class="fw-bold w-25" style="font-size:2em;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Todo task in Model)
                    {
                        string rowClass = "";
                        if (task.Status.statusId.ToLower() == "completed")
                        {
                            rowClass = "table-success"; // yeşil
                        }
                        else if (task.Status.statusId.ToLower() == "pending")
                        {
                            if (task.dueDate.HasValue && task.dueDate.Value < DateTime.Now)
                            {
                                rowClass = "table-danger"; // kırmızı
                            }
                            else if (task.dueDate.HasValue && task.dueDate.Value >= DateTime.Now)
                            {
                                rowClass = "table-warning"; // sarı
                            }
                        }
                        <tr class="@rowClass">
                            <td>@task.todName</td>
                            <td>@task.todDescription</td>
                            <td>@task.Category.categoryName</td>
                            <td>@task.dueDate?.ToString("MM/dd/yyyy")</td>
                            <td>@task.Status.statusName</td>
                            <td>
                                @if(task.Status.statusId == "pending")
                                {
                                    <button type="submit" class="btn btn-info btn-sm" 
                                    name="@nameof(Todo.todId)" value="@task.todId">Mark as Completed</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
     </form>
     <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
        <a asp-action="Add" class="btn btn-info">Add a New Task</a>
        <button type="submit" class="btn btn-danger">Delete All Completed Tasks</button>
        <a class="btn btn-success" href="https://calendar.google.com/calendar/u/0/r?pli=1" target="=_blank">Reminder</a>
        </form>
    </div>
</div>

